<div class="container">
  <br><br>
  <div class="col s12 m7">
    <h2 class="header">About me</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="\assets\img\profile.jpeg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a href="#" id="link" >This is a link</a>
          <a href="#" id="link" >This is a link</a>
          <a href="#" id="link" >This is a link</a>
        </div>
      </div>
    </div>
  </div>

  <br>
</div>
