<body>
  <nav class="nav-bar" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">SEABRA</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">HOME</a></li>
        <li><a href="#">ABOUT ME</a></li>
        <li><a href="#">PROJECTS</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">HOME</a></li>
        <li><a href="#">ABOUT ME</a></li>
        <li><a href="#">PROJECTS</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="principal-text">Raphael Antônio Seabra e Silva</h1>
      <div class="row center">
        <h5 class="header col s12 light">Full stack web developer.</h5>
      </div>
      <br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">person_outline</i></h2>
            <h5 class="center">About me</h5>

            <p class="light">Get to know a few about me.
                <br> Technologies I have worked on, academic training and professional experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">work_outline</i></h2>
            <h5 class="center">My projects</h5>

            <p class="light">These are the projects I've developed so far, aswell as their code and technologies used.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">mail_outline</i></h2>
            <h5 class="center">Contact me</h5>

            <p class="light" id="contact-info">Feel free to contact me.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer">
    <div class="container">
      <div class="row" id="footer">
        <div class="col l6 s12" id="info">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our
            full time job. Any amount would help support and continue development on this project and is greatly
            appreciated.</p>


        </div>
        <div class="col l3 s12" id="contact">
          <h5 class="white-text">Contact</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/seabraph" target="_blank"><fa-icon [icon]="['fab','github']" ></fa-icon>  GitHub</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/raphael-antonio-seabra-e-silva-4a41a119b/" target="_blank"><fa-icon [icon]="['fab','linkedin']" ></fa-icon>  LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <a class="white-text text-lighten-3">© 2021 Seabra, Inc.</a>
      </div>
    </div>
  </footer>
</body>
