.nav-bar{
    background-color: #1E2033;
}

body{
    color: #fff;
    text-align: justify;
}

#footer{
    display: flex;
    justify-content: space-between;
    background-color: #1F2032;
}
.page-footer{
    background-color: #1F2032;
    text-align: justify;
}
.footer-copyright{
    text-align: center;
}
