<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="principal-text">Raphael Antônio Seabra e Silva</h1>
    <div class="row center">
      <a class="white-text" href="https://github.com/seabraph" target="_blank">
        <fa-icon [icon]="['fab','github']" class="icon"></fa-icon>
      </a>
      <a class="white-text" href="https://www.linkedin.com/in/raphael-antonio-seabra-e-silva-4a41a119b/"
        target="_blank">
        <fa-icon [icon]="['fab','linkedin']" class="icon"></fa-icon>
      </a>
      <h5 class="header col s12 light">Full stack web developer.</h5>
    </div>
    <br>

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons" [routerLink]="['/about-me']">person_outline</i></h2>
          <h5 class="center">About me</h5>

          <p class="light">Get to know a few about me.
            <br> Technologies I have worked on, academic training and professional experience.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons" [routerLink]="['/projects']">work_outline</i></h2>
          <h5 class="center">My projects</h5>

          <p class="light">These are the projects I've developed so far, aswell as their code and technologies used.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons" [routerLink]="['/contact']">mail_outline</i></h2>
          <h5 class="center">Contact me</h5>

          <p class="light" id="contact-info">Feel free to contact me.</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>
</div>
